#root {
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  justify-content: center;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input {
  margin-right: 5px;
  height: 35px;
  border-radius: 3px;
  padding-left: 10px;
  border: 1px solid #919191;
  font-size: 14px;
  min-width: 240px;
}

input::placeholder {
  color: #919191;
  font-size: 13px;
}

input:focus {
  border: 1px solid #303030;
}

input:focus-visible,
button:focus-visible {
  outline: none;
}

button {
  height: 39px;
  background: #246e24;
  font-weight: 200;
  color: white;
  padding: 0 20px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  width: 80px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success,
.error {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}

.error {
  color: #b12c2c;
}

.success {
  color: #185c18;
}